@tailwind base;
@tailwind components;
@tailwind utilities;


ul > li{
    margin-left: 3px;
    margin-right: 3px;

}

footer{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar > div{
    margin: 0 2rem;
    align-items: center;
    display: flex;
}

.name-title{
    font-size: 3em;
}

.resume{
    cursor: pointer;
    transition: 200ms ease-in-out;
}


.resume:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.experiences{
    width: 60vw;
    margin: 4em auto;
}


.education{
    width: 60vw;
    margin: 4em auto;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    max-width: 1200px;
    padding: 1em 0em;
    position: relative;
    width: calc(100% - 2em);
    z-index: 2;
    margin: 0 auto;
    margin-top: 2em;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;

    border: 1px rgb(53, 53, 53) solid;

    width: 350px;
    height: 220px;

    border-radius: 0.75em;
    cursor: pointer;
    height: 240px;
    position: relative;

    transition: 200ms ease-in-out;
}

.project:hover{
    transform: scale(1.05);
    border: 2px rgb(114, 114, 114) solid;

}

.project-image{
    object-fit: contain;
}

@media screen and (max-width: 790px) {
    #navbar_end {
        display: none;
    }
}
  


@media screen and (max-width: 1115px) {
    .projects{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}



@media screen and (max-width: 745px) {
    .projects{
        grid-template-columns: repeat(1, 1fr);
    }
}