@tailwind base;
@tailwind components;
@tailwind utilities;


footer{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar > div{
    margin: 0 2rem;
    align-items: center;
    display: flex;
}

.name-title{
    font-size: 3em;
}